<form id="searching_yelp" action="/search" method="get" class="navbar-form navbar-left" role="search">
  <div class="form-group main-search">
    <input id="searchbox" name="q" type="text" class="form-control" placeholder="Search for Gyms to start...">
  </div>
  <button id="button" type="submit" class="btn btn-default">Submit</button>
  <input name="utf8" type="hidden" value="&#x2713;" />
</form>
