<form id="searching_yelp" accept-charset="UTF-8" action="/search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="q">Search for:</label>
  <input id="searchbox" name="q" type="text" />
  <input id="button" type="submit" value="Search" />




</form>