
<head>

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   
    <meta charset="utf-8">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <link href='css/bootstrap.css' rel='stylesheet'>
</head>

<body>


	<%= render 'form' %>
  <div class="content">

    <div id="map-canvas">

    </div>
      <div id="info">
  		
			<ul id="info_ul"></ul>
		
		  </div>

  
  </div>


</body>
