
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

</head>
<body>
  <!-- <form method="get" action="/search" id="header_find_form"> -->
<%= render 'form' %>


    <div id="map-canvas"></div>

</body>
<script>


</script>

