
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
  <!-- <form method="get" action="/search" id="header_find_form"> -->
<%= render 'form' %>


</body>
<script>


</script>

