

  <form method="get" action="/search" id="header_find_form" class="header-search-form" role="search" data-component-bound="true">
            <div class="search-field-container with-suggestions-list flex-container-inline find-decorator">
        <div class="search-field flex-container-inline">
            <label for="find_desc" class="label">Find</label>
            <div class="flex-box input-holder">
                <input autocomplete="off" id="find_desc" maxlength="64" name="find_desc" placeholder="tacos, cheap dinner, Max’s" value="" aria-autocomplete="list" tabindex="1" data-component-bound="true">
            </div>
        </div>
            <div class="suggestions-list-container search-suggestions-list-container hidden" data-component-bound="true">
                <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
            </div>
    </div>

            <div class="search-field-container with-suggestions-list flex-container-inline near-decorator user-logged-in">
        <div class="search-field flex-container-inline">
            <label for="dropperText_Mast" class="label">Near</label>
            <div class="flex-box input-holder">
                <input autocomplete="off" id="dropperText_Mast" maxlength="80" name="find_loc" placeholder="address, neighborhood, city, state or zip" value="Washington, DC" aria-autocomplete="list" tabindex="2" data-component-bound="true">
                <input type="hidden" name="ns" value="1">
            </div>

                <a href="#" id="dropperBtn_Mast" class="i-wrap ig-wrap-common i-location-picker-arrow-common-wrap location-dropper"><i class="i ig-common i-location-picker-arrow-common"></i> Select Location</a>
        </div>
            <div class="suggestions-list-container location-suggestions-list-container hidden" data-component-bound="true">
                <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
            </div>
    </div>
<!-- 
        <div class="button-container">
            <button id="header-search-submit" tabindex="3" title="Search" type="submit" value="submit" class="ybtn ybtn-primary header-button"><span>    <i class="i ig-common i-search-common"></i>
        <div class="spinner hidden">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div> -->

