/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

*{
	box-sizing:border-box;
}

.navbar {
    margin-bottom: 0 !important;
}
#info {
    position: relative;
}
.list-group-item {
    position: absolute;
}
#map-canvas {
    height: 400px;
    margin: 0px;
}

#searchbox {
    width: 400px;
}

.gym-rating {
    position: absolute;
    top: 10px;
    right: 10px;
}

.gym-photo {
    width:70px;
    position: absolute;
    top: 102px;
    right: 10px;
}
@keyframes fadein {
    from { left: 700px; }
    to   { left: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { left: 700px; }
    to   { left: 0px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { left: 700px; }
    to   { left: 0px; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { left: 700px; }
    to   { left: 0px; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { left: 700px; }
    to   { left: 0px; }
}
